ul {
    list-style: none;
}

a {
	color: #000;
	text-decoration: none;
	}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, img, ol, ul, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
}

#topnav {
    background: #d2d2d2 url(../images/bg.png) no-repeat;
    height: 38px;
    font-size: 13px;
}

#topnav li {
    height: 36px;
    border-right: 1px solid #a7a7a7;
    float: left;
    font-weight: bold;
}

.home {
    float: left;
    width: 117px;
    height: 35px;
}

.home:hover {
	width:117px;
	height:36px;
	background: url(../images/bg.png) 0 -38px;
}

#topnav li a, #topnav li a:link, #topnav li a:visited {
    display: block;
    padding: 0 25px 0 25px;
    line-height: 36px;
    color: #4b4b4b;
    text-shadow: 0px 1px 0px #d1d1d1;
}

.masthead{
	
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	
}

.masthead h1{
	font-size:60px;
	font-family:"Microsoft YaHei"
}

div#rMenu {position:absolute; visibility:hidden; top:0; background-color: #555;text-align: left;padding: 2px;
z-index:10000}
div#rMenu ul li{
	margin: 1px 0;
	padding: 0 5px;
	cursor: pointer;
	list-style: none outside none;
	background-color: #DFDFDF;
}

